body {
    font-family: 'Trebuchet MS';
    background-color: #242438;
    color: white
}

.website-name {
    margin-top: 25;
    text-align: center;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.divider {
    border: 2px solid #14141f;
    border-radius: 5px;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.teehee-box {
    border: 2px solid #14141f;
    border-radius: 5px;
    background-color: #1f1f30;
    width: 20%;
}

.subaru-teehee:active {
    filter: sepia()
}