body {
    font-family: 'Trebuchet MS';
    background-color: #242438;
    color: white
}

#money-amount {
    font-size: x-large;
    color: lightgreen;
}

.gamebuttons {
    display: flex;
    flex-direction: column;
}

.gamebuttons button {
    font-family: 'Trebuchet MS';
    font-size: large;
    transition-duration: 0.1s;
    padding: 10px 25px;
    background-color: #373755;
    border: 2px solid #14141f; 
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.gamebuttons button:hover {
    background-color: rgb(30, 30, 46);
}

#center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.items_stuff {
    font-size: large;
    border: 2px solid #14141f;
    border-radius: 5px;
    background-color: #373755;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 10px;
}

.items_stuff button {
    display: inline-block;
    font-family: 'Trebuchet MS';
    font-size: large;
    padding: 10px;
    background-color: #4f4f81;
    border: 2px solid #14141f; 
    color: white;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.items_stuff button:hover {
    background-color: #43436e;
}