body {
    font-family: 'Trebuchet MS';
    background-color: #242438;
    color: white
}

#money-amount {
    font-size: x-large;
    color: lightgreen;
}

.gamebuttons {
    display: flex;
    flex-direction: column;
}

#clicker {
    padding: 50px;
    font-size: x-large;
}

button {
    font-family: 'Trebuchet MS';
    font-size: large;
    transition-duration: 0.1s;
    padding: 10px;
    background-color: #454572;
    border: 2px solid #14141f; 
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #3e3e66;
}


#center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-top: 12.5%;
}

.items_stuff {
    font-size: large;
    border: 2px solid #14141f;
    border-radius: 5px;
    background-color: #373755;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 10px;
}

.items_stuff button {
    width: 100%;
}